:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #bb004e;
    --gris: #757575;
    --grisclaro: #Dfe9f3;
    --fuentepricnipal: 2rem;
}

,:before, *:after {
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Fredoka One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Righteous', cursive;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem; 
    color: #ffffff;
}

h3{
    font-size: 2.4rem; 
}

h1,h2,h3 {
    text-align: center;
}

.title{
  color:var(--primario);
}

.title span{
    font-size: 2rem;
    color:var(--secundario)
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.nav_principal{
    background-color:var(--secundario);
}

.nav a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: var(--fuentePrincipal);
    font-weight: 700;
    padding: 1rem;
}

.nav{
    display: flex;
    flex-direction: column;
}

.nav a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

@media (min-width: 780px){
    .nav{
        flex-direction: row;
        justify-content: space-between;
    }
}
.imagenencabezado{
    background-image: url("../img/lucy\ 2.111.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    position: relative;
}
.contenido_encabezado{
    position: absolute;
    background: rgb(0 0 0 /65%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.imagenen1{
    background-image: url(../img/imagen\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    position: relative;
}
.contenido_1{
    position: absolute;
    background: rgb(0 0 0 /65%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagenen2{
    background-image: url(../img/prueba1.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100rem;
    position:relative;
}
.contenido_2{
    position: absolute;
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagenen3{
    background-image: url(../img/E45yrHaWUAEIsqY.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 50rem;
    position:relative;
}
.contenido_3{
    position: absolute;
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.ubicacion{
    display: flex;
    justify-content: center;
}
.ubicacion2{
    display: flex;
    justify-content: center;
}
.contenido_encabezado h2,
.contenido_encabezado p{
    color: var(--blanco);
    font-size: var(--fuentepricnipal);
}
.btn_contact{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;

}
@media (min-width: 768px){
    .btn_contact{
        width: auto;
    }
}
.btn_contact:hover{
    cursor: pointer;
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgb(112, 112, 112/48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
.contenedor_main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    align-items: baseline;
}
@media (min-width: 768px) {
    .contenedor_main {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        align-items: baseline;
    }
}
.contenedor_main p {
    line-height: 2;
    text-align: center;
}

.contenedor_main .iconos {
   height: 15rem;
   width: 15rem;
   background-color: var(--primario);
   border-radius: 50%;
   display: flex;
   justify-content: space-evenly;
   align-items: center; 
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms{
    background-color: var(--grisclaro);
width: min(60rem,100%);
margin: 0 auto;
padding: 2rem;

border-radius: 1rem;}

.forms fieldset{
    border:none
}
.forms fieldset legend{
    margin: 0 auto;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 3rem;
    color:var(--primario) ;
}
.campo{
    margin-bottom: 1rem;
}
.campo label{
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.input_text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
@media (min-width: 768px) {
    .btn_form{
        justify-content: flex-end;
    }
    .btn_form .btn_contact {
    width: auto;
    }
}
.btn_form{
    display: flex;
    justify-content: center;
}
